<div class="d-flex h-100 align-items-center m-3">
  <form [formGroup]="addSaleForm" class="card col-md-6 col-11 mx-auto p-4">
    <h2 class="text-center">Agregar Venta</h2>
    <div *ngIf="showAlert" [ngClass]="{'alert': true, 'alert-success': isSuccess, 'alert-danger': !isSuccess}" class="mt-4">
      {{ isSuccess ? 'Venta agregada correctamente' : 'Hubo un error al insertar la venta' }}
    </div>
    <div class="mb-3 mt-4">
      <label class="form-label">SKU</label>
      <select
        formControlName="product"
        class="form-select"
        aria-label="Default select example"
      >
        <option [ngValue]="{}">Selecciona el producto</option>
        <option *ngFor="let p of productList" [ngValue]="p">{{ p.sku }}</option>
      </select>
    </div>
    <div *ngIf="role == 1" class="mb-3">
      <label class="form-label">ID de tienda</label>
      <select
        formControlName="hostId"
        class="form-select"
        aria-label="Default select example"
      >
        <option [ngValue]="{}">Selecciona la tienda</option>
        <option *ngFor="let host of uniqueHostIds" [ngValue]="host">{{ host }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre del producto</label>
      <input
        type="text"
        class="form-control"
        [value]="addSaleForm.controls.product.getRawValue()?.name || ''"
        disabled
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Fecha</label>
      <input
        formControlName="dateSale"
        type="date"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Cantidad</label>
      <input
        formControlName="quantity"
        type="number"
        class="form-control"
        [(ngModel)]="quantity"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Total</label>
      <input
        type="text"
        class="form-control"
        [value]="
          (addSaleForm.controls.quantity.getRawValue() || 0) *
          (addSaleForm.controls.product.getRawValue()?.price || 0)
        "
        disabled
      />
    </div>
    <button
      type="button"
      class="btn btn-primary mt-4"
      (click)="add()"
      [disabled]="!addSaleForm.valid"
    >
      Agregar
    </button>
  </form>
</div>
