<div class="d-flex">
  <div class="w-100 pt-5">
    <div
      class="col-md-10 col-12 mx-auto mb-5 d-flex justify-content-between align-items-center"
    >
      <h1>Inventario</h1>
      <div>
        <a
          type="button"
          class="btn btn-secondary btn-md py-1 mx-1"
          routerLink="/addproduct"
          >Agregar producto</a
        >
      </div>
    </div>
    <div class="card col-md-10 col-12 mx-auto p-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">SKU</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ropa</th>
            <th scope="col">Tipo de ropa</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Género</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products" [attr.data-sku]="product.sku">
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.clothe }}</td>
            <td>{{ product.clothe_type }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.genre }}</td>
            <td>
              <button
                class="btn btn-success btn-md py-1 mx-1"
                [routerLink]="['/editproduct', product.sku]"
              >
                Editar
              </button>
              <button
                class="btn btn-danger btn-md py-1 mx-1"
                (click)="deleteProduct(product.sku)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
